/* 
    Created on : 27/07/2017, 03:01:08 PM
    Author     : acruzb
*/

/*Panel maximizar*/
.panel-actions {
  margin-top: -20px;
  margin-bottom: 0;
  text-align: right;
}
.panel-actions a {
  color:#333;
}
.panel-fullscreen {
    display: block;
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
}

.panel-fullscreen .panel-body{
    height: 90% !important;
}

.panel-fullscreen pre#textareaResultado{
    height: 100%; 
}


::-ms-clear {
  display: none;
}

.form-control-clear {
  z-index: 10;
  pointer-events: auto;
  cursor: pointer;
}

/**Información general*/

#seleccion-informacion-general label{
    margin-bottom: 0px;
}

/*Contador de lineas para json*/
pre#textareaResultado {
    height: 260px; 
    overflow-y: scroll;

    font-family: monospace;
    padding: 0.5em;
    line-height: 0;
    counter-reset: line;
}

pre#preJSONResultado {
    min-height: 260px; 
    max-height: 400px; 
    overflow-y: scroll;

    font-family: monospace;
    padding: 0.5em;
    line-height: 0;
    counter-reset: line;
}

span.line-number {
    display: block;
    line-height: 1.5rem;
}

a.glyphicon-line-number{
    color: #337ab7;
    cursor: pointer !important;
}

span.line-number:before {
    position: relative;
    width: 60px;
    text-align: right;

    counter-increment: line;
    content: counter(line);
    display: inline-block;
    border-right: 1px solid #ddd;
    padding: 0 .5em;
    margin-right: .5em;
    color: #888
}

/*estilo de json pretty*/
span.string {
    color: #008000;
}

span.number {
    color: #0000ff;
}

span.boolean {
    color: #b22222;
}

span.null {
    color: #808080;
}

span.key {
    color: #000000;
}

span.string-path{
    color: blue;
    font-weight: bold;
}

span.string-alias{
    color: green;
    font-weight: bold;
}

span.string-respuesta{
    color: black;
    font-weight: bold;
}